*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.scan {
    padding: 10px;
    background-color: #fff;
    height: 100vh;
}
.box {
    width: 95%;
    box-shadow: 0px 0px 10px #ccc;
    margin: 0 auto;
    padding:  10px;
    border-radius: 10px;
}
.selectGroup {
    display: flex;
    width: 100%;
    border-bottom: 1px solid #ddd;
    height: 40px;
    align-items: center;
    &>label {
        width: 70px;
    }
    &>div {
        flex: 1;
    }
}
.am-switch .checkbox {
    width: 40px;
    height: 25px;
}
.am-switch .checkbox:after{
    width: 21px;
    height: 21px;
}
.am-switch input[type="checkbox"]:checked + .checkbox:after {
    transform: translateX(16px);
}

.date-picker-list .am-list-item .am-list-line .am-list-extra {
    flex-basis: initial;
}
.am-switch .checkbox:before {
    width: 36px!important;
    height: 21px!important;
}