.wg-select-dropdown {
    background-color: #fff;
    box-shadow: 0 2px 12px 0 rgba(0,0,0,.1);
    padding: 5px 0;
    overflow-y: auto;
    .wg-select-dropdown-list {
        width: 100%;
        padding: 0px;
        margin: 0px;
        list-style: none;
        .wg-select-dropdown-item {
            width: 100%;
            padding: 0px;
            margin: 0px;
            min-height: 30px;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            padding: 3px 10px;
            &:hover {
                background-color: #f5f5f5;
            }
        }
        .no-data {
            text-align: center;
            color: #ccc;
        }
    }
    .is-selected {
        color: #409eff;
    }
}